.button{ 
	font-family:  Comic Sans MS, Comic Sans, cursive;
	color: #574864;
	font-size: 22px;
    font-weight: bold;
    min-width: 120px;
    padding: 7px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-radius: 9px;
    background:  #eafd7f;
    transition: 0.2s;
	border-color: #d3ee70fa;
}

.button:hover{ 
	background:  #b0ff56e0;
	-webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	border-color: rgba(172, 236, 98, 0.671);
}

.button:active{ 
	background:  #db87fca8;
	-webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	border-color: #d795f3de;
}